<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="/css/icofont.min.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- NiceSelect Min CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <title><%= title %></title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

<section class="blog-area ptb-100">
    <div class="container">
        <h1 style="color: white; font-weight: bold">DAIB CEO Antonio Kim, "In company, 'Mr. Tony'"</h1>
        <p style="margin: 15px 0; color: #cdc8df">2020.08.03</p>
        <img src="/img/article02.jpg" style="margin-bottom:15px;">
        <p>
            "I think the most important thing in a software company is the company culture of discussion and exchange of opinions. I want to create a company that respects the intellectual ability and depth of knowledge of our members."
        </p>
        <p>
            The untact era opened with Covid-19 is becoming a new driving force for start-ups based on cloud technology. Cloud is a technology that stores and processes information with another computer connected to a virtual space instead of one's own computer.
        </p>
        <p>
            Cloud technology is attracting attention in the so-called untact era. This is because, if cloud-based untact services such as video conferencing and open banking are operated in the untact era, they can be used efficiently without purchasing additional IT equipment.
        </p>
        <p>
            DAIB, established in the special R&D zone of Daegu Bank's 2nd headquarters in Buk-gu, Daegu, is a software startup that has jumped into building a new business model through the cloud. DAIB is focusing on DVision, a service registered in the non-face-to-face service voucher business of the Ministry of SMEs and Startups.
        </p>
        <p>
            Division is a video conferencing solution that can be used directly on various devices as long as it is connected to the Internet without any additional installation. In addition, it provides collaboration and payment functions to create a more convenient remote working environment. Antonio Kim, CEO of DAIB, said, "We started the service in September. The financial sector is showing especially a lot of interest. The trend toward non-face-to-face communication is likely to continue in the future.”
        </p>
        <p>
            CEO Kim is a veteran of startups. He has experienced two startups since 2012.
        </p>
        <p>
            CEO Kim said, “The previous two startups were not that successful, but it was a valuable time to learn product and service developments, the entire process of operation, and how to raise funds."
        </p>
        <p>
            Based on the assets achieved at those time, CEO Kim established a horizontal and organizational culture at DAIB. What stands out the most is his name. All 10 employees of DAIB's Daegu headquarters and research institute in Seoul call CEO Kim 'Tony'.
        </p>
        <p>
            CEO Kim said, "There is no special position, and anyone can become a team leader for a project." He said, "As a software company where knowledge of technology and product perfection are important, we wanted to create an atmosphere where we can discuss freely. We will continue to do so in the future.”
        </p>
    </div>
</section>
<!-- Jquery Min JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Canvas Min JS -->
<script src="/js/canvas.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- WOW Min JS -->
<script src="/js/wow.min.js"></script>
<!-- Tilt Min JS -->
<script src="/js/tilt.jquery.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Waypoints Min Js -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery CounterUp Min JS -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- NiceSelect Min Js -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- ajaxChimp Min JS -->
<script src="/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>
</html>
