<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="/css/icofont.min.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- NiceSelect Min CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <title><%= title %></title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

<section class="blog-area ptb-100">
    <div class="container">
        <h1 style="color: white; font-weight: bold">Real Estate STO System</h1>
        <p style="margin: 15px 0; color: #cdc8df">2020.05.03</p>
        <img src="/img/article04.png" style="margin-bottom:15px;">
        <p>
            About future evolutionary system structure
            Difference of bank computer system and block chain STO system?        </p>
        <p>
            People still think of cryptocurrency as mere digitized money. Recently, when I met with industry workers not related to block chain or software engineering, I was often faced with the difficulty of conveying too much knowledge to explain what can be applied to the industry with cryptocurrency.        </p>
        <p>
            Among them, real estate STO, which has recently become a hot topic in the block chain industry, was one of the topics. According to a recent ZDNet article, in October last year, St. Regis Aspen Resort located in Colorado, USA, tokenized a 18.9% stake in the resort's valuation and successfully raised $18 million through the cloud funding platform Indiegogo.        </p>
        <p>
            This public offering was made by issuing security tokens in accordance with US SEC regulations (Reg D 506(c)), and investors were paid by Aspen Coin. Aspen Coin can be traded by listing on Templem Market, which has an American Alternative Exchange (ATS) license. Another example of real estate tokenization is the hub Columbia REIT promoted by Harbor, a US security token issuance (STO) platform company.        </p>
        <p>
            We are tokenizing a college student dormitory, a profitable real estate, in a way that Convexity Properties owns a 51% stake and sells the remaining 49% to investors. A general investor can invest in a minimum unit of $21,000, and after 90 days of investment, it is possible to trade using tokens issued on the block chain. Like this, there are news that fundraising using the real estate STO is real or is frequently appearing. The question is how and with what method or system. This part will raise more curiosity in the future, but today I would like to deal with a more practical part of the real estate STO.        </p>
        <p>
            First, in order to understand STO, you need to know how security tokens work and the structure of the financial system.        </p>
        <p style="font-weight: bold; font-size: 19px">
            1. Security Token
        </p>
        <p>
            To understand security tokens, you need to understand programmable money. The phrase programming money in the existing monetary economic system can be understood from the following example.<br/>
            - Bank<br/>
            When we make a deposit in the bank, we pay interest at 2% per year. In fact, it's like a person sending money each year to my specific account with a calculator calculating 2% interest on the total amount, but we don't think that someone does this manually by tapping a calculator. Most people know that the bank's system implements the contractual relationship with me as an algorithm, and interest is automatically paid to my account every year by the bank's computerized system. People know that if you withdraw your deposit or run out of money, the total amount of interest paid will automatically decrease as well.        </p>
        <p>
            - Insurance<br/>
            According to the driver's insurance policy, if an accident occurs during the insurance period, the amount of compensation is determined according to the type of accident. If an accident occurs, the investigator determines the type of accident, calculates the amount of vehicle repair, and then remits the compensation amount from the insurance company's specific bank account to the driver's specific bank account. In case of re-subscribing to the driver's insurance next year, the calculated amount is recorded in the insurance company's computerized system by adding it to the increase amount calculation formula to recalculate the subscription amount.
            There are more examples, but these two examples are enough to explain.        </p>
        <p>
            First, in the case of a bank, money is programmed directly in the bank's computer system. Of course, the money used by the bank is fiat currency. According to conditions, the programming method of paying or not paying interest is possible only by building and operating a banking computer system.
            The same is true for the second insurance. The insurance company programs the money directly. Compensation is paid in accordance with the insurance policy signed by the driver. Of course, the insurance company's computerized systems do this automatically. Some human operations are involved, but most are automated. Now that you understand the meaning of programming money, it is time to find out why it has to do with security tokens.
        </p>
        <p>
            Token is money. Then, if it is a bank, insurance company, or card company that operates with Bitcoin, Ethereum, or other virtual currency, can it be seen as a business that uses token by programming? However, the question arises as to why it is necessary to leave the existing fiat currency and create a bank or insurance company operated with Bitcoin.<br/>
            To explain this part, once again, extensive economic knowledge and ideological background are required, so it is judged not to be covered in this column. This column is going to focus on how to implement a real estate STO by programming with second-generation cryptocurrency.<br/>
            Security token can be thought of as a banking system that pays interest on the specific deposit amount described above. When a bank earns money from customers' deposits, it returns a portion of it to the customer at a certain percentage. You can use Ethereum to a bank deposit system, and the bank's business area just has to be a real estate investment. Isn't it simple? In more detail, the types of real estate investment products operated by banks include commercial buildings, buildings, apartments, land, etc.<br/>
            From now on, if we build a system using cryptocurrency to provide services to users, this will become a real estate STO system.
        </p>
        <p style="font-weight: bold; font-size: 19px">
            2. The second generation cryptocurrency programming
        </p>
        <p>
            What do you need to build a computerized system for a bank or insurance company? First of all, you will need a computer. If you think of it as a bank, you might think that you need a bigger and more powerful computer. Correct. We call this a high-performance, high-capacity server. And professional software programmers or developers with deep financial knowledge will be needed. Will this be all I need?
        </p>
        <p>
            In fact, to configure a bank computer system, network equipment, servers, storage, database, middleware for large-capacity transaction processing, monitoring systems, firewalls, ERP systems, client-only applications, web applications, ATM, ATM applications, identification and certificate scanning and Hardware and software for storage, hardware and applications for digital signatures, vaccines for client security, various security programs, public certificate programs, server security programs, and various BI applications should be covered.<br/>
            Of course, if you have good professional programmers, you can create all of the above from a blank notepad by hitting the keyboard with your fingers. Fortunately, cryptocurrency, claiming block chain platform coins, now provide sufficient software, libraries, and programming examples to implement existing banking computer systems.
        </p>
        <p>
            In the end, a good block chain platform and development environment are needed to implement a good bank computer system using cryptocurrency. Therefore, we need to look at the most famous, stable, and proven computer system development environment using Bitcoin or Ethereum among them. Among them, it is necessary to study the second-generation cryptocurrency and block chain platform more intensively, because the computer system that will be discussed in this column implements the real estate STO.
        </p>
        <p style="font-weight: bold; font-size: 19px">
            3. Implementation of real estate STO system using the second generation cryptocurrency
        </p>
        <p>
            Ethereum is a block chain platform coin that we are well aware of and have implemented the most dApps to date. As a second-generation cryptocurrency, Ethereum has not yet been popularized, but it is evaluated as the best development environment for implementing various financial computer systems. Of course, there are 3rd-generation block chain platforms that have appeared since then, but since the technical basis and origin of the block chain is Ethereum, in this column, only Ethereum will be dealt with. To build a real estate STO system with Ethereum, you must follow the steps below.
        </p>
        <p>
            A. Analyze and design the entire system<br/>
            B. Writing a Storyboard<br/>
            C. Prototyping according to the storyboard<br/>
            D. Hardware or cloud development environment setting<br/>
            E. Designing data structures and transactions<br/>
            F. Defining the contract<br/>
            G. Implementing smart contracts according to defined contracts<br/>
            H. Client programming<br/>
            I. Server, API programming<br/>
            J. Testing and Deployment<br/>
            K. Full system operation
        </p>
        <p>
            If you look at the entire process from A to K, you can see that it does not deviate much from the traditional enterprise system implementation method. However, due to the nature of the real estate STO system using cryptocurrency, there are not one or two places where it is difficult to touch without block chain-based programming knowledge from system analysis and design to system operation.<br/>
            In particular, data structures, transactions, and smart contracts are somewhat unfamiliar fields, unlike existing software engineering. And the client-server programming that makes them work as actual services is also a bit difficult. Aside from these parts, I would like to end this column by explaining the part that is most different from the existing traditional banking computer system.
        </p>
        <p style="font-weight: bold; font-size: 19px">
            4. Difference between bank computer system and blockchain STO system
        </p>
        <p>
            In the existing banking computer system, money is stored only in numbers. However, in a system using a block chain, programming for numbers and contracts is stored together. In the existing banking computer system, the part of the monetary transaction can be viewed only by users who log in to their account or approved by the bank computer system, but in a system using block chain, anyone in the world can view their own and others' money transaction details. can be browsed.<br/>
            Of course, you can only know who you are with your account address, which consists of your 40 numbers and alphabets. In fact, the name, age, address, etc. are unknown. In addition, in the existing banking system, the administrator can turn off the computer system or modify the contract details, but in the block chain system, there is no manager for contract execution, payment, and remittance, so the system cannot be stopped or the contract content can not be modified.<br/>
            Lastly, in the existing banking computer system, the owner of one piece of hardware has the ownership and responsibility for data for all transaction details, but in the block chain system, there is no owner of the transaction history and data. Other than that, the differences between hacking and security are so well known that it is unnecessary to go into them.
        </p>
        <p style="font-weight: bold; font-size: 19px">
            5. Argent, a smart crypto wallet app with a banking look, raises $4M from Euro VCs
        </p>
        <p>
            One of the biggest problems for the mainstream adoption of crypto is the need for memorizing seed phrases, the inability to get your cryptocurrency back if something goes wrong, the list goes on. Until major issue like this are solved, crypto is going to remain a pretty elite game.
        </p>
        <p>
            Argent is a project which recently won the prestigious inaugural user experience prize at Devcon4 by addressing many of these issues.
        </p>
        <p>
            It’s a crypto wallet that lets you also port your ID around (much like a Google or Facebook Login) and solves the UX problem through clever smart contract architecture.. So you have a good old-fashioned and familiar Web 2.0 / centralized experience in a decentralized environment.
        </p>
        <p>
            Argent has now raised a $4 million seed round from some of Europe’s leading investors, including Index Ventures, Creandum, firstminute, Hummingbird and Atomico Partner Mattias Ljungman.
        </p>
        <p>
            As a native app on the Apple App and Google Play Stores, describes itself as the first smart wallet. The presentation and security is that of a modern banking apps, but Argent doesn’t hold or access a user’s funds. The smart wallet also provides access to decentralized applications, with the user staying in control of their data, identity and assets.
        </p>
        <p>
            Argent CEO and co-founder, Itamar Lesuisse, commented: “The web is dominated by monopolies and middlemen. Cambridge Analytica and Equifax highlighted the damage this was doing to people. The emerging decentralized web offers a better way – with people controlling their data, assets, and identity. But it is still way too hard for most people to use, so adoption is slow. We founded Argent to fix this”.
        </p>
        <p>
            Dr. Julien Niset, Chief Science Officer and co-founder, Argent, says, “The challenge we set ourselves was to offer the usability and security of great banking apps, but without the bank. We wanted the user, not us, to be in control. We’ve achieved this by building Argent on smart contracts, code embedded in the blockchain that cannot be tampered with. Our smart contracts let users, for the first time, recover their wallets without a paper backup, set daily transaction limits and block fraudulent transactions. This makes Argent safer and easier to use than other wallets”.
        </p>
        <p>
            Consumers can use the smart wallet to access decentralized applications and no technical knowledge is required. To generate more adoption, Argent plans to make a developer kit available to third parties. It already has an integrated exchange and Argent says it is currently exploring more partnerships in finance, as well as gaming.
        </p>
        <p>
            Two of Argent’s co-founders, Itamar Lesuisse (ex-Amazon, Visa and BCG) and Gerald Goldstein (PhD, nuclear physics), previously founded Peak, the world’s largest brain training app (50m downloads), and an Apple and Android App of the Year. The third co-founder, Julien Niset, has a PhD in quantum information, founded a quantum security startup and successfully sold the IP to the world’s leading quantum security company.
        </p>
        <p>
            Bjarke Staun-Olsen, Creandum, says, “Having backed Itamar and Gerald’s previous startup, Peak, which successfully exited in 2016, we knew how strong their ability to execute in consumer mobile was. And as they were combining with Julien’s expertise in cryptography, we knew this was the right team to drive consumer adoption at scale”.
        </p>
        <p>
            Ari Helgason, Index Ventures, says, “Argent has developed a critical piece of infrastructure that paves the way for mainstream adoption of blockchain applications. The team’s technology breakthrough allows users to overcome the tradeoff between security and ease of use that has characterized wallets until now.”
        </p>
    </div>
</section>
<!-- Jquery Min JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Canvas Min JS -->
<script src="/js/canvas.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- WOW Min JS -->
<script src="/js/wow.min.js"></script>
<!-- Tilt Min JS -->
<script src="/js/tilt.jquery.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Waypoints Min Js -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery CounterUp Min JS -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- NiceSelect Min Js -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- ajaxChimp Min JS -->
<script src="/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>
</html>
