<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="/css/icofont.min.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- NiceSelect Min CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <title><%= title %></title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

<section class="blog-area ptb-100">
    <div class="container">
        <h1 style="color: white; font-weight: bold">Blockchain and Trust</h1>
        <p style="margin: 15px 0; color: #cdc8df">2020.07.21</p>
        <img src="/img/article03.png" style="margin-bottom:15px;">
        <p>
            What is a successful block chain? A block chain that satisfies these requirements, such as a block chain
            with high trust and value, a block chain that operates autonomously without the intervention of large powers
            or institutions, a block chain with the least amount of hacking or financial fraud, and a block chain with
            high technical perfection and many based on its long operation period. What kind of block chain satisfies
            all of these features? </p>
        <p>
            By far, Bitcoin and Ethereum are ranked first and second. As of the end of July 2020, Bitcoin maintains a
            market cap of 200 trillion won, with 18 trillion won in circulation per day. There are 9,900 servers
            operated by Bitcoin nodes, and more than 30,000 servers including block chain nodes operated by other
            Bitcoin software (SW) sources. It is estimated that there are about 50 million Bitcoin application (app)
            users based on Bitcoin wallets. In the case of Ethereum, a market cap of 31 trillion won, daily circulation
            of 5 trillion won, 6,900 operating nodes, 2 million wallet addresses, and 2,800 apps have been released and
            used. </p>
        <p>
            We know that block chain data cannot be forged or tampered with and is safe from hacking. However, it should
            be recognized that block chain can also be insecure depending on software flaws, hacking attempts, and
            decisions made between operators or insiders. Prior to block chain performance and functionality, you need
            to understand how it works. Considering this important, all block chains are 100% open source. Bitcoin has
            no developers and no operators. So, how did they build trust worth 200 trillion won? It is by using an
            unique operating method that converges finance and technology. Rather than simply copying and distributing
            data and making it immutable, it constituted a process and financial system designed to inevitably copy and
            spread data. Here's an easy example. The most common way to describe block chain is “Bob sent money to
            Smith”. If we compare block chain to a bank, trust in money is immediately understandable. No one doubts
            that the money transferred from IBK can be retrieved from Kookmin Bank and purchased by Antonio Kim through
            the PayPal account on Amazon. </p>
        <p>
            But the data is a bit different. Proof of originality or the belief that no changes have taken place is not
            the same as being able to withdraw the amount of money transferred. It is easy to understand as a bank
            deposit box service. Items stored in the safe can be opened and viewed or changed only by the holder or the
            holder's private key. When Alice informs Bob that Antonio Kim has sent money to Smith, Alice receives a
            small fee through the block chain system. Bob runs the block chain, knows when and how much money Antonio
            Kim sent to Smith, and receives a small operating reward just by notifying other block chain node
            operators. </p>
        <p>
            Of course, in the block chain, money is virtual, but if there is a case of exchanging it for real or real
            value, it becomes like cash. As the number of operators increases, the cryptocurrency distributed on the
            block chain gains trust, and the block chain system performs the same role as a bank. The block chain system
            provides account holders with a storage of fee-based data used to transfer money. Although the block chain
            storage is small, it plays the same role as a bank safe deposit box service. If remittance does not occur,
            data storage will also not occur. Data original verification and forgery prevention through block chain are
            used as this structure of block chain. This is the reality of Bitcoin. </p>
        <p>
            If you need to decide which block chain to choose or develop and operate a new block chain, you might be led
            to an answer on how to do it. Of course, there are advanced functions and technologies such as fast
            execution speed, large data processing, consensus algorithms, and smart contracts. However, if you do not
            fully understand the concept and stick to the basics, you will not be able to overcome the chaotic situation
            and dream of making a fortune or get caught up in financial fraud. </p>
    </div>
</section>
<!-- Jquery Min JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Canvas Min JS -->
<script src="/js/canvas.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- WOW Min JS -->
<script src="/js/wow.min.js"></script>
<!-- Tilt Min JS -->
<script src="/js/tilt.jquery.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Waypoints Min Js -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery CounterUp Min JS -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- NiceSelect Min Js -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- ajaxChimp Min JS -->
<script src="/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>
</html>
