<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="/css/icofont.min.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- NiceSelect Min CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <title><%= title %></title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>

<!-- Start Navbar Area -->
<header id="header">
    <div class="crake-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/"><img src="/img/logo.svg" alt="logo"></a>
            </nav>
        </div>
    </div>
</header>
<!-- End Navbar Area -->

<section class="blog-area ptb-100">
    <div class="container">
        <h1 style="color: #ffc200; font-weight: bold">S4U News</h1>
        <p style="color: white; font-size: 24px; margin-bottom: 50px;">Discover exciting news</p>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-blog-post">
                    <a href="/article/detail/4" class="post-image"><img src="/img/article01.png" alt="blog-image"></a>

                    <div class="blog-post-content">
                        <h3><a href="/article/detail/4">Blockchain and Financial Computing</a></h3>
                        <p>The main topic of the blockchain and finance industry is blending cryptocurrency into a
                            profitable finance business inside the frame of the law. We should think about what would be
                            required if one starts a block chain based internet bank similar to 'Kakao bank'.</p>
                        <span>2021.06.08</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="single-blog-post">
                    <a href="/article/detail/3" class="post-image"><img src="/img/article02.jpg" alt="blog-image"></a>

                    <div class="blog-post-content">
                        <h3><a href="/article/detail/3">DAIB CEO Antonio Kim, "In company, 'Mr. Tony'"</a></h3>
                        <p>I think the most important thing in a software company is the company culture of discussion
                            and exchange of opinions. I want to create a company that respects the intellectual ability
                            and depth of knowledge of our members.</p>
                        <span>2020.12.14</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="single-blog-post">
                    <a href="/article/detail/2" class="post-image"><img src="/img/article03.png" alt="blog-image"></a>

                    <div class="blog-post-content">
                        <h3><a href="/article/detail/2">Blockchain and Trust</a></h3>
                        <p>What is a successful block chain? A block chain that satisfies these requirements, such as a
                            block chain with high trust and value, a block chain that operates autonomously without the
                            intervention of large powers or institutions, a block chain with the least amount of hacking
                            or financial fraud, and a block chain with high technical perfection and many based on its
                            long operation period. What kind of block chain satisfies all of these features?</p>
                        <span>2020.07.21</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4">
                <div class="single-blog-post">
                    <a href="/article/detail/1" class="post-image"><img src="/img/article04.png" alt="blog-image"></a>

                    <div class="blog-post-content">
                        <h3><a href="/article/detail/1">Real Estate STO System</a></h3>
                        <p>About future evolutionary system structure
                            Difference of bank computer system and block chain STO system?</p>
                        <span>2020.05.03</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start Footer Area -->
<footer class="footer-area bg-image" style="background: #131323">
    <div class="copyright-area">
        <div class="container">
            <div class="row" style="padding-bottom: 30px; justify-content: space-between">
                <img src="/img/logo-footer.png" width="170px" height="55px">

                <div>
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-reddit.png" width="41px"
                         height="41px">
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-twitter.png" width="41px"
                         height="41px" style="margin: 0 10px 0">
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-facebook.png" width="41px"
                         height="41px" style="margin: 0 10px 0 0">
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-medium.png" width="41px"
                         height="41px">
                </div>
            </div>

            <div class="h-100 justify-content-center align-items-center"
                 style="display: flex; border-top: 1px solid #71718d; padding: 30px 0 50px">
                <p style="color: white !important">Copyright 2021. DAIB, Inc. all right reserved.</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Jquery Min JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Canvas Min JS -->
<script src="/js/canvas.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- WOW Min JS -->
<script src="/js/wow.min.js"></script>
<!-- Tilt Min JS -->
<script src="/js/tilt.jquery.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Waypoints Min Js -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery CounterUp Min JS -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- NiceSelect Min Js -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- ajaxChimp Min JS -->
<script src="/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>
</html>
