<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="/css/icofont.min.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="/css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/css/magnific-popup.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- NiceSelect Min CSS -->
    <link rel="stylesheet" href="/css/nice-select.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">

    <title><%= title %></title>

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
<!-- Start Preloader Area -->
<!--<div class="preloader-area">-->
<!--    <div class="lds-hourglass"></div>-->
<!--</div>-->
<!-- End Preloader Area -->

<!-- Start Navbar Area -->
<header id="header">
    <div class="crake-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="/"><img src="/img/logo.svg" alt="logo"></a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav nav ml-auto">
                        <li class="nav-item cursor" id="nav-download"><a class="nav-link">Download</a></li>
                        <li class="nav-item cursor" id="nav-about-us"><a class="nav-link">About</a></li>
                        <li class="nav-item cursor" id="nav-github"><a href=https://github.com/DAIOSFoundation">GitHub</a></li>
                        <li class="nav-item cursor" id="nav-article"><a href="/article" class="nav-link">Article</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
<!-- End Navbar Area -->

<!-- Start Features Area -->
<section class="features-area saas-features ptb-100" style="padding-bottom: 50px">
    <div class="container">
        <video autoplay muted loop style="width: 100%; height:100%;">
            <source src="img/staking4u.mp4" type="video/mp4">
        </video>
    </div>
</section>
<!-- End Features Area -->

<!-- Start Overview Area -->
<section class="overview-section bg-gray">
    <div class="container">
        <div class="section-title">
            <div>
                <img src="img/logo-s-4-u-02.svg" alt="">
            </div>
            <h2 style="color: white; margin-top: 20px;">Experience future finance</h2>
            <div class="col-lg-12 row" style="margin: 30px 0 0 0;">
                <div class="col-lg-6" style="display: flex; justify-content: center">
                    <button onclick="alert('Coming soon...')"
                            style="width:256px; height:77px; background-color: white; border-radius: 10px; border: none; display: flex; justify-content: center; align-items: center; cursor: pointer">
                        <div style="margin-right:5px;">
                            <img src="img/apple.png" style="width: 57px; height: 54px;">
                        </div>
                        <div style="margin-left:5px; font-size: 27px;">
                            App Store
                        </div>
                    </button>
                </div>
                <div class="col-lg-6 google-btn" style="display: flex; justify-content: center">
                    <button onClick="javascript:window.open('https://play.google.com/store/apps/details?id=com.staking4u', '_blank');"
                            formtarget="_blank"
                            style="width:256px; height:77px; background-color: black; border-radius: 10px; border: 1px solid white; display: flex; justify-content: center; align-items: center; cursor: pointer">
                        <div style="margin-right:5px;">
                            <img src="img/playstore.png" style="width: 57px; height: 54px;">
                        </div>
                        <div style="margin-left:5px; font-size: 27px; color:white; align-self: self-end; margin-bottom: 7px;">
                            Google Play
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Area -->

<!-- Start Join Area -->
<section class="join-area ptb-100">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="feedback-slides">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="join-img col-lg-6 col-md-6">
                            <img src="/img/img-about-01.png" alt="img">
                        </div>
                        <div class="col-lg-6 col-md-6" style="display: flex; align-items: center">
                            <div class="join-content">
                                <h2>Looking for stable finance revenues?</h2>
                                <p>Join our blockchain staking program.<br/>
                                    Staking is based on the smart contract technology of the blockchain
                                    which can prevent any kind of extortion.<br/>
                                    Earn revenues in a easier and safer way.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="join-img col-lg-6 col-md-6">
                            <img src="/img/img-about-02.png" alt="img">
                        </div>
                        <div class="col-lg-6 col-md-6" style="display: flex; align-items: center">
                            <div class="join-content">
                                <h2>Having a hard time holding and managing crypto-asset products?</h2>
                                <p>Experience holding by force with smart contract.<br/>
                                    Bitcoins, Ethereum, Solana, Polkadot, ADA, Stellar, Uniswap, AAVE and etc.<br/>
                                    You can manage promising decentralized virtual asset at once.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="join-img col-lg-6 col-md-6">
                            <img src="/img/img-about-03.png" alt="img">
                        </div>
                        <div class="col-lg-6 col-md-6" style="display: flex; align-items: center">
                            <div class="join-content">
                                <h2>Trustworthy Financial Service</h2>
                                <p>Have you ever been worried of staking service that cannot be viewed?<br/>
                                    At S4U you can check every record transparently.<br/>
                                    Also, we do not save any private key!<br/>
                                    Experience decentralized finance</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="join-img col-lg-6 col-md-6">
                            <img src="/img/img-about-04.png" alt="img">
                        </div>
                        <div class="col-lg-6 col-md-6" style="display: flex; align-items: center">
                            <div class="join-content">
                                <h2>Transaction Support between Users</h2>
                                <p>We support super fast and easy transaction powered by Solona!<br/>
                                    Also, decentralized financial products can be traded between users through<br/>
                                    smart contract and escrow transaction.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="join-img col-lg-6 col-md-6">
                            <img src="/img/img-about-05.png" alt="img">
                        </div>
                        <div class="col-lg-6 col-md-6" style="display: flex; align-items: center">
                            <div class="join-content">
                                <h2>Valuable Reward, NXDF</h2>
                                <p>If you join staking, mainnet rewards and NXDF coins<br/>
                                    which can be used at S4U will be rewarded.<br/>
                                    Also, NXDF coins will be given according to each transaction difference.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="row">
                        <div class="join-img col-lg-6 col-md-6">
                            <img src="/img/img-about-06.png" alt="img">
                        </div>
                        <div class="col-lg-6 col-md-6" style="display: flex; align-items: center">
                            <div class="join-content">
                                <h2>Use NXDF Coins</h2>
                                <p>Say goodbye to expensive transaction fees!<br/>
                                    Using NXDF coins, real-time payment will be offered with almost no transaction
                                    fee.<br/>
                                    NXDF supports real-time payment by linking Stable Coins.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Join Area -->

<!-- Start Feedback Area -->
<section class="feedback-area ptb-100">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="display: flex;flex-direction: column;justify-content: center;">
                    <h2 style="color: white; margin-bottom: 15px;">Uncomfortable with exchanging cryptocurrency?</h2>
                    <p style="color: white">Try out Staking4U's easy StakeSwap.<br/>
                        By using Staking4U's HD(Hierarchical Wallet) which is able to directly exchange stable coins and
                        other various coins, all kinds of cryptocurrency transactions between users will become more
                        easy.<br/>
                        StakeSwap protocol supports Staking4U's decentralized financial products sales and
                        transfer.<br/>
                        Stakeswap's NXDF token is a proof of stake token of one's financial product, which is recorded
                        on the stellar blockchain network at every transaction.</p>
                </div>
                <div class="join-img col-lg-6 col-md-6">
                    <img src="/img/img-stakeswap.png" alt="img">
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Feedback Area -->

<!-- Start Screenshot Area -->
<section class="screenshot-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="screenshot-contain">
                    <img src="img/mobile.svg" class="mobile-light" alt="mobile">
                    <div class="row">
                        <div class="screenshot-slides">
                            <div class="col-lg-12">
                                <div class="screenshot-item">
                                    <img src="img/img-swap-01.png" alt="screenshot"
                                         style="margin: 50px auto 0; height: 690px;">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="screenshot-item">
                                    <img src="img/img-swap-02.png" alt="screenshot"
                                         style="margin: 50px auto 0; height: 690px;">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="screenshot-item">
                                    <img src="img/img-swap-03.png" alt="screenshot"
                                         style="margin: 50px auto 0; height: 690px;">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="screenshot-item">
                                    <img src="img/img-swap-04.png" alt="screenshot"
                                         style="margin: 50px auto 0; height: 690px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">

    <h2 style="color: white; text-align: center; " >Experience Media-Art NFT</h2>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-start">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Depth.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Doorway.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Public_Media_Art_Abstract_Oil_Paint.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Public_Media_Art_Current_City_1.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Public_Media_Art_Current_City_2.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Public_Media_Art_Inside_of_Traffic_light.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Public_Media_Art_Spline_Loop.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Sunset.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Truth_of_Forest.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/Winter.png" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/cybernetic.jpeg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="img/mart/the_sea_of_love_by_kismuki_dehn7ee-fullview.jpeg" alt="">
            </a>
        </div>
    </div>

</div>
<!-- End Screenshot Area -->

<!-- Start Footer Area -->
<footer class="footer-area bg-image" style="background: #131323">
    <div class="copyright-area">
        <div class="container">
            <div class="row" style="padding-bottom: 30px; justify-content: space-between">
                <img src="/img/logo-footer.png" width="170px" height="55px">

                <div>
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-reddit.png" width="41px"
                         height="41px">
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-twitter.png" width="41px"
                         height="41px" style="margin: 0 10px 0">
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-facebook.png" width="41px"
                         height="41px" style="margin: 0 10px 0 0">
                    <img class="cursor" onclick="alert('Coming soon...')" src="/img/icon-medium.png" width="41px"
                         height="41px">
                </div>
            </div>

            <div class="h-100 justify-content-center align-items-center"
                 style="display: flex; border-top: 1px solid #71718d; padding: 30px 0 50px">
                <p style="color: white !important">2021. NXDF Protocol</p>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->


<!-- Jquery Min JS -->
<script src="/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/js/bootstrap.min.js"></script>
<!-- Canvas Min JS -->
<script src="/js/canvas.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="/js/jquery.meanmenu.min.js"></script>
<!-- WOW Min JS -->
<script src="/js/wow.min.js"></script>
<!-- Tilt Min JS -->
<script src="/js/tilt.jquery.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/js/owl.carousel.min.js"></script>
<!-- Waypoints Min Js -->
<script src="/js/waypoints.min.js"></script>
<!-- Jquery CounterUp Min JS -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- NiceSelect Min Js -->
<script src="/js/jquery.nice-select.min.js"></script>
<!-- ajaxChimp Min JS -->
<script src="/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/js/form-validator.min.js"></script>
<!-- Contact Form Min JS -->
<script src="/js/contact-form-script.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>
</body>
</html>
